@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rubik&family=Shadows+Into+Light&display=swap");

.category-selector {
  position: relative;
}

.category-selector__select {
  font-family: Rubik, sans-serif;
  font-size: 16px;
  appearance: none;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 180px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='none' stroke='gray' stroke-width='1' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'%3E%3C/polyline%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: 20px;
}

.category-selector__option {
  font-size: 20px;
  color: #333;
}
