@import url("https://fonts.googleapis.com/css2?family=Lato&family=Rubik&family=Shadows+Into+Light&display=swap");

.footer {
  bottom: 0;
  text-align: center;
  padding: 40px 30px 40px 30px;
  background-color: #333;
  color: white;
  font-family: "Rubik", sans-serif;
}

@media (max-width: 600px) {
  .footer {
    position: static;
    padding: 20px;
  }
}
