.quote-display {
  text-align: center;
  margin: 20px;
  color: #333;
}

.quote-display__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1px;
  max-height: 100vh;
  overflow-y: auto;
}

.quote-display__title {
  font-size: 24px;
  font-weight: bold;
}
