@import url("https://fonts.googleapis.com/css2?family=Lato&family=Shadows+Into+Light&display=swap");

.quote-wrapper {
  font-size: 18px;
  font-family: "Shadows Into Light", cursive;
  text-align: center;
  position: relative;
  display: inline-block;
  padding: 1px;
  margin-bottom: 10px;
}

.random-quote {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: "Shadows Into Light", cursive;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  position: relative;
  z-index: 1;
  background-color: #ffffff;
  border-radius: 50%;
  border: none;
  height: 300px;
  animation: glowing 2s infinite;
}

@keyframes glowing {
  0% {
    box-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff;
  }
  50% {
    box-shadow: 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff;
  }
  100% {
    box-shadow: 0 0 5px #fff, 0 0 20px #fff, 0 0 30px #fff;
  }
}

.quote {
  font-size: 24px;
  margin-bottom: 20px;
}
