.quote-display {
  text-align: center;
  margin: 20px;
}

.quote-display__container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quote-display__title {
  font-size: 24px;
  font-weight: bold;
}

.quote-display__body {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  margin: 20px 0;
}
