@import url("https://fonts.googleapis.com/css2?family=Lato&family=Shadows+Into+Light&display=swap");

.quote {
  font-size: 18px;
  margin: 20px 0;
  font-family: "Shadows Into Light", cursive;
}

.random-quote {
  font-size: 24px;
  font-family: "Shadows Into Light", cursive;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}
